extends homePageRoof

block content
    article
        div(id="mainArticle")   
            a(href=`/article/read/${mainArticle._id}` id="mainArticleLink")
                div(id="mainPicture")
                    img(src=`${mainArticle.pictureUrl}`)
                if mainArticle.title.length > 25
                    span(id="mainArticleTitle") #{mainArticle.title.substring(0,25)}...
                else
                    span(id="mainArticleTitle") #{mainArticle.title}
                span(id="mainArticleContent") #{mainArticle.content.substring(0,120)}...
        div(id="articles")
            div(class="thema") 정치
                br
                each article in articles.politics
                    a(href=`/article/read/${article._id}`)
                        if article.title.length > 25
                            span(class="articleTitle") #{article.title.substring(0,25)}...
                            span(class="reporterName") [#{article.reporterId.displayName} 기자]
                        else
                            span(class="articleTitle") #{article.title}
                            span(class="reporterName") [#{article.reporterId.displayName} 기자]
                    br
            div(class="thema") 경제
                br
                each article in articles.economy
                    a(href=`/article/read/${article._id}`)
                        if article.title.length > 25
                            span(class="articleTitle") #{article.title.substring(0,25)}...
                            span(class="reporterName") [#{article.reporterId.displayName} 기자]
                        else
                            span(class="articleTitle") #{article.title}
                            span(class="reporterName") [#{article.reporterId.displayName} 기자]
                    br
            div(class="thema") IT
                br
                each article in articles.IT
                    a(href=`/article/read/${article._id}`)
                        if article.title.length > 25
                            span(class="articleTitle") #{article.title.substring(0,25)}...
                            span(class="reporterName") [#{article.reporterId.displayName} 기자]
                        else
                            span(class="articleTitle") #{article.title}
                            span(class="reporterName") [#{article.reporterId.displayName} 기자]
                    br
            div(class="thema") 생활
                br
                each article in articles.life
                    a(href=`/article/read/${article._id}`)
                        if article.title.length > 25
                            span(class="articleTitle") #{article.title.substring(0,25)}...
                            span(class="reporterName") [#{article.reporterId.displayName} 기자]
                        else
                            span(class="articleTitle") #{article.title}
                            span(class="reporterName") [#{article.reporterId.displayName} 기자]
                    br
            div(class="thema") 세계
                br
                each article in articles.world
                    a(href=`/article/read/${article._id}`)
                        if article.title.length > 25
                            span(class="articleTitle") #{article.title.substring(0,25)}...
                            span(class="reporterName") [#{article.reporterId.displayName} 기자]
                        else
                            span(class="articleTitle") #{article.title}
                            span(class="reporterName") [#{article.reporterId.displayName} 기자]
                    br
        div(id="hotNews")